.App {
  text-align: center;
  background-color: #252527;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.word-list {
  padding: 5px 15%;
  text-align: left;
}

.error-message {
  color: red;
  font-size: calc(10px + 1vmin);
}
